#logo {
  padding-left: 50px;
	font-family: "Lobster", cursive;
	font-size: 4rem;
  min-height: 150px;
  padding-top: 10px;
  background-color: #412312;
}

nav div img {
   height: 135px;
    
}

.jamicon {
	height: 40px;
  border-radius: 5px;
}

.rateMe {
	border-radius: 5px;
  border: none;
  background-color: #412312;
  width: 60px;
  margin: 5px;
  }

  #question {
    font-family: "Lobster", cursive;
    font-size: 3rem;
    margin-right: 30px;
    
  }

#current-day {
	 font-size: 2rem; 
   padding-right: 20px;
   color: #D6573E;
}
#main {
  padding-top: 50px;
}

#track-embed {
  min-width: 600px;
  max-width: 1000px;
}

#sideLogo {
  height: 100px;
}