


#logo {
	padding-left: 50px;
	font-family: "Lobster", cursive;
	font-size: 4rem;
	min-height: 150px;
	padding-top: 10px;
	background-color: #412312;
}

nav div img {
	height: 135px;
}

#current-day {
	font-size: 2rem;
	padding-right: 20px;
	color: #d6573e;
}

#main {
	padding-top: 50px;
}

.jamicon {
	height: 50px;
	width: 50px;
	border-radius: 5px;
}

#question {
	font-family: "Lobster", cursive;
	font-size: 3rem;
	margin-right: 30px;
  color: #412312;
}

.rateMe {
  border-radius: 5px;
	border: none;
	background-color: #412312;
	width: 50px;
	height: 50px;
	margin: 10px;
}


#track-embed {
	min-width: 600px;
	max-width: 1000px;
}
